

.upperdiv{


background-image: linear-gradient(#ac8e6c,#ac8e6c);

background-image: url("shoes/download.jpeg") ;
background-color: rgba(24 16 6 / 60%); 
background-blend-mode: color; 
width: 100%;
height: 100vh;


}



.walk {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    color: white;
    text-align: center;
}

.para{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px;
    color: white;
    text-align: center;
}
.title{

color: aliceblue;
padding-top: 7%;



}



  .navbar {
    width: 100%;
    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  /* Define the style for the menu items */
  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin: 10px;
  }

  .menu a {
    text-decoration: none;
    color: black;
  }

  /* Define the style for the search bar */
  .search {
    display: flex;
    align-items: center;
  }

  .search input {
    border: 1px solid gray;
    padding: 5px;
    margin-right: 10px;
    border-radius: 30px;
  }

  .search button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  /* Define the style for the icons */
  .icon {
    width: 20px;
    height: 20px;
    margin: 10px;
  }

  .secdiv{


    background-image: linear-gradient(to left  bottom, #6e5e4f , #614b33);    width: 100%;
    height: 100%;
  }

.imgbig{
margin-top: 55%;

border-radius: 15px;
width: 100%;
}


.imgbig:hover {

padding: 1px;


}



.item-card {
  width: 300px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  border-radius: 10px;
  

}

.item-card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  border-radius: 26px;

}

.item-card img {
  width: 100%;
  height: 330px;
}

.details {
  background-color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
}

.details p, .details label, .details select, .details button {
  margin-bottom: 10px;
}

.btnaddcart {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

 .btnaddcart:hover {
  padding: 12px

}


.cartsize{

display: flex;
justify-content: space-between;


}


.cartbig{


padding-top: 30px;
padding-left: 55px;

}


.cartbig1{



  padding-top: 30px;
  
  
  }

.cartdiv1{


background-color: #ffffff

}

.imgbig2{
  margin-top: 18%;

  border-radius: 1px;
  width:360px
  }
  .thanks{
padding-top: 154px;
    font-family: 'Pacifico', cursive;

color: white;
font-weight: bold;
font-size: 37px;

  }
   